/*   */
/* #btn-header {
  position: relative;
  right: 165px;
} */
#head-img {
  background-image: url(../../image/bg.png);
}
.fadeInLeft {
  animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
    transform: none;
  }
}
